#############################################################################
#   Startup Autoexec Procs
#############################################################################

[delayed_gcode clear_display]			# description: Delayed macro to be called to clear the M117 portion of the display
gcode:
  M117
  
#----------------------------------------------------------------------------------

[delayed_gcode welcome_msg]				# description: Displays 'welcome!' via a M117 call
gcode:
  M117 Welcome!
  UPDATE_DELAYED_GCODE ID=clear_display DURATION=10  # clear display in 10s

#----------------------------------------------------------------------------------

[delayed_gcode _startup_var_init]		# description: initializes schtuffs
initial_duration: 0.1					# run it very quickly after start - other module autostarts are set to 0.5s
gcode:

	{% set svv = printer.save_variables.variables %}				# set context for save_variables object

	SAVE_VARIABLE VARIABLE=module_ledeff_loaded VALUE=0				# module state initialization
	SAVE_VARIABLE VARIABLE=module_ercf_loaded VALUE=0				# module state initialization
	SAVE_VARIABLE VARIABLE=module_debug_loaded VALUE=0				# module state initialization
	SAVE_VARIABLE VARIABLE=module_linadv_loaded VALUE=0				# module state initialization
	SAVE_VARIABLE VARIABLE=module_scrub_loaded VALUE=0				# module state initialization
	SAVE_VARIABLE VARIABLE=module_klicky_loaded VALUE=0				# module state initialization

	SAVE_VARIABLE VARIABLE=extruder_temp_setting VALUE=0			# stored extruder temp setting initialization
	SAVE_VARIABLE VARIABLE=heater_bed_temp_setting VALUE=0			# stored heater bed temp setting initialization

	SAVE_VARIABLE VARIABLE=last_ptr_state VALUE='"initializing"'	# machine state save

	SAVE_VARIABLE VARIABLE=maxz VALUE=0.0							# init global var
	SAVE_VARIABLE VARIABLE=has_wipe_tower VALUE=-1					# print state initialization
	SAVE_VARIABLE VARIABLE=z_axis_cal VALUE=0						# since machine just started, flag a z_axis_cal is not complete
	SAVE_VARIABLE VARIABLE=v2_2526_slicer_check VALUE='"NULL"'		# clear SLICER VITALS
	SAVE_VARIABLE VARIABLE=last_saved_gcode_state VALUE='"NULL"'

	SAVE_VARIABLE VARIABLE=ercf_selector_homed	VALUE=0				# Added this state variable during testing of ERCF

	# init last values to prevent ambiguous states
	SAVE_VARIABLE VARIABLE=last_chamber_lights_effect	VALUE='"off"'
	SAVE_VARIABLE VARIABLE=last_dash_lights_effect		VALUE='"off"'
	SAVE_VARIABLE VARIABLE=last_ercf_lights_effect		VALUE='"off"'
	SAVE_VARIABLE VARIABLE=last_lcd_lights_effect		VALUE='"off"'

	{% if svv.module_debug_loaded %} _disable_gmove_debug {% endif %}		# disable gmove_debug
	{% if svv.module_debug_loaded %} _disable_save_var_debug {% endif %}	# make sure svv debug off

	# and we're init'd
	SAVE_VARIABLE VARIABLE=last_ptr_state VALUE='"initialized"'	# machine state save

#----------------------------------------------------------------------------------

[delayed_gcode printer_startup]		# description: Printer Boot 'Autoexec' script
initial_duration: 1.0				# run in 1 sec to make sure other modules can load and run their startup procs
gcode:

	{% set svv = printer.save_variables.variables %}				# set context for save_variables object

	SAVE_VARIABLE VARIABLE=last_ptr_state VALUE='"starting"'	# machine state save

	SAVE_VARIABLE VARIABLE=last_spd_fact VALUE=1.0			# init last speed factor

	{% if svv.module_ercf_loaded %}
		ERCF_SERVO_UP # raise the servo arm - consider setting a known state here with ERCF.
	{% endif %}

	{% if svv.module_ledeff_loaded %}
		{% if printer["gcode_macro _printer_vars"].ptr_verb_status %}
			M118 >>> LED CONTROL: LED_EFFECT <<<
		{% endif %}
		set_light_mode CHAIN=chamber_lights 	EFFECT=normal 	RESET=1	# uses LED_EFFECTS code
		set_light_mode CHAIN=lcd_lights 		EFFECT=normal	RESET=1	# uses LED_EFFECTS code
		set_light_mode CHAIN=ercf_lights 		EFFECT=off		RESET=1	# uses LED_EFFECTS code
		set_light_mode CHAIN=dash_lights 		EFFECT=off		RESET=1	# uses LED_EFFECTS code
	{% else %}
		{% if printer["gcode_macro _printer_vars"].ptr_verb_status %}
			M118 >>> LED CONTROL: KLIPPER <<<
		{% endif %}
		ChLts_Normal		# set chamber lights to normal	- uses Klipper Dotstar code
		LcdLts_Normal		# set lcd lights to normal		- uses Klipper Neopixel code
		ERCFLts_off			# set ercf lights to normal		- uses Klipper Neopixel code
		DBLts_off			# set dash lights to normal		- uses Klipper Neopixel code
	{% endif %}

	printer_config_restore			# will pull in updates and impute a restart if the master differs from the local repo

	M106 S26						# fan @ 10% to push air over duct thermistor
	UPDATE_DELAYED_GCODE ID=welcome_msg DURATION=5		# display Welcome Msg at startup + 2s

#	snd_PowerOn						# emit power on sound/song
	sng_startup						# play startup song

	_IdleLED_On						# illuminate idle led
	_PwrLED_Off						# and extinguish the off led

	{% if printer["gcode_macro set_startup_bedtemp"].heat_on_start %}
		set_startup_bedtemp
	{% endif %}

	RUN_SHELL_COMMAND CMD=set_cam_config
	
	# test for ercf and then test for boot load deq testing
	{% if svv.module_ercf_loaded %}
	
		{% if printer["gcode_macro ERCF_VAR"].home_ercf_at_boot %}
			{% if printer["gcode_macro ERCF_VAR"].ercf_verb_status %} M118 ___ ERCF Boot Home Start ___ {% endif %}
			# ercf_home
			_ercf_park_n_home
# TODO: test ercf error flag here and report if error
			{% if printer["gcode_macro ERCF_VAR"].ercf_verb_status %} M118 ___ ERCF Boot Home Complete ___ {% endif %}
		{% endif %}

	
		{% if printer["gcode_macro ERCF_VAR"].test_ercf_load_sequence_at_boot %}
			{% if printer["gcode_macro ERCF_VAR"].ercf_verb_status %} M118 ___ ERCF Boot Fil Load Test Seq Start ___ {% endif %}
			ERCF_TEST_LOAD_SEQ LOOP=1
# TODO: test ercf error flag here and report if error
			{% if printer["gcode_macro ERCF_VAR"].ercf_verb_status %} M118 ___ ERCF Boot Fil Load Test Seq Complete ___ {% endif %}
		{% endif %}
	{% endif %}

	# set_led_effect EFFECT=fil_ecdr_ledOff
	# set_led_effect EFFECT=TH_filsw_ledOff
	
	{% if svv.debug_err_flag == 0 and
		  svv.ercf_err_flag == 0 and
		  svv.klicky_err_flag == 0 and
		  svv.ledeff_err_flag == 0 and
		  svv.linadv_err_flag == 0 and
		  svv.scrub_err_flag == 0 %}
		M118 Printer state: Ready
		SAVE_VARIABLE VARIABLE=last_ptr_state VALUE='"started"'	# machine state save
	{% else %}
		M118 Printer state: NOT Ready - an error is asserted:
		M118 - svv.debug_err_flag: {svv.debug_err_flag}
		M118 - svv.ercf_err_flag: {svv.ercf_err_flag}
		M118 - svv.klicky_err_flag: {svv.klicky_err_flag}
		M118 - svv.ledeff_err_flag: {svv.ledeff_err_flag}
		M118 - svv.linadv_err_flag: {svv.linadv_err_flag}
		M118 - svv.scrub_err_flag: {svv.scrub_err_flag}
		SAVE_VARIABLE VARIABLE=last_ptr_state VALUE='"error"'	# machine state save
	{% endif %}

#----------------------------------------------------------------------------------

[gcode_macro set_startup_bedtemp]
description:  Set bed temp at startup
variable_heat_on_start: True
variable_ptrstartup_bedtemp: 120
gcode:

	M140 S{printer["gcode_macro set_startup_bedtemp"].ptrstartup_bedtemp|int}
	G4 P500
	M300 S659.255 P125 ; Play E5 for 4th.
	{% if printer["gcode_macro _printer_vars"].ptr_verb_info %}
		M118 Heating Bed to {printer["gcode_macro set_startup_bedtemp"].ptrstartup_bedtemp|int}
	{% endif %}
	
#----------------------------------------------------------------------------------


