
[delayed_gcode _buzzer_test_loaded]
initial_duration: 4.501
gcode:
	_proc_start function=_buzzer_test_loaded func_params='"{rawparams|string}"'  
	_module_loaded MODULE=_buzzer_test
	_proc_end function=_buzzer_test_loaded 

[mcu buzzer]
serial: /dev/serial/by-id/usb-Klipper_rp2040_PicoBuzzerTest-if00
restart_method: command


[output_pin _buzzer_pin]
#####################################################################
# 	LCD Display 'Speaker 'Control
#####################################################################

pin: buzzer:gpio22	#   Beeper pin. This parameter must be provided.
pwm: True			#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0			#   Silent at power on, set to 1 if active low.
shutdown_value: 0	#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.024	#   Default PWM frequency set in M300 Macro: 0.001 = 1ms will give a tone of 1kHz, although not pitch perfect.


[delayed_gcode _buzzer_test_module_start]
#description: Sets module-specific state flags for conditional use elsewhere.
initial_duration: 0.5							# have this at 0.5s as init code in _startup_autoexec.cfg runs at 0.1s after start
gcode:

	_proc_start function=_buzzer_test_module_start func_params='"{rawparams|string}"'  
 	{% if printer["gcode_macro _printer_vars"].ptr_verb_modload %}  M118 >>> _buzzer_test_module_start Start <<< {% endif %}

	save_variable VARIABLE=test_buzzer_present 			VALUE=1

	{% if printer["gcode_macro _printer_vars"].ptr_verb_modload %}  M118 >>> _buzzer_test_module_start End <<< {% endif %}
	_proc_end function=_buzzer_test_module_start 
