# Neopixel and Dotstar Commands

# The following command is available when a neopixel config section or dotstar config section is enabled:
#
# SET_LED LED=<config_name> RED=<value> GREEN=<value> BLUE=<value> WHITE=<value> [INDEX=<index>] [TRANSMIT=0] [SYNC=1]:  
# 
# This sets the LED output. Each color <value> must be between 0.0 and 1.0.   
# 
# The WHITE option is only valid on RGBW LEDs.   
# 
# If multiple LED chips are daisy-chained then one may specify INDEX to alter the color of just the given chip (1 for the  
# first chip, 2 for the second, etc.).   
# 
# If INDEX is not provided then all LEDs in the daisy-chain will be set to the provided color.   
# 
# If TRANSMIT=0 is specified then the color change will only be made on the next SET_LED command that does not specify  
# TRANSMIT=0; this may be useful in combination with the INDEX parameter to batch multiple updates in a daisy-chain.  
#  
# By default, the SET_LED command will sync it's changes with other ongoing gcode commands. This can lead to undesirable behavior 
# if LEDs are being set while the printer is not printing as it will reset the idle timeout.  
#  
# If careful timing is not needed, the optional SYNC=0 parameter can be specified to apply the changes instantly and not reset the idle timeout.
  
# neopixel / dotstar  STATUS Queries
#
# The following information is available for each [neopixel led_name] and [dotstar led_name] defined in printer.cfg:  
# color_data: An array of objects, with each object containing the RGBW values for a led in the chain.   
# Note that not all configurations will contain a white value.   
# Each value is represented as a float from 0 to 1.   
# For example, the blue value of the second neopixel in a chain could be accessed at printer["neopixel <config_name>"].color_data[1].B.

[dotstar chamber_lights]
#cs_pin: PB12

#data_pin: PB5 # PD10 # PC3 # PG14 # PB5
#clock_pin: PB3 # PD7 # PB13 # PG13 # PB3

data_pin: pico:gpio11   #PB5 # PD10 # PC3 # PG14 # PB5
clock_pin: pico:gpio10  #PB3 # PD7 # PB13 # PG13 # PB3

chain_count: 231 
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5

[gcode_macro Lights_Normal]
gcode:
  SET_LED LED=chamber_lights RED=0.5 GREEN=0.5 BLUE=0.5

[gcode_macro Lights_Full]
gcode:
  SET_LED LED=chamber_lights RED=1 GREEN=1 BLUE=1

[gcode_macro Lights_Off]
gcode:
  SET_LED LED=chamber_lights RED=0 GREEN=0 BLUE=0

[gcode_macro Lights_Red]
gcode:
  SET_LED LED=chamber_lights RED=0.5 GREEN=0 BLUE=0

[gcode_macro Lights_Green]
gcode:
  SET_LED LED=chamber_lights RED=0 GREEN=0.5 BLUE=0

[gcode_macro Lights_Blue]
gcode:
  SET_LED LED=chamber_lights RED=0 GREEN=0 BLUE=0.5

[gcode_macro Lights_Orange]
gcode:
  SET_LED LED=chamber_lights RED=0.9 GREEN=0.3 BLUE=0

[gcode_macro Lights_Test]
gcode:
  SET_LED LED=chamber_lights RED=0.5 GREEN=0.5 BLUE=1

# [led_effect panel_idle]
# autostart:              true
# frame_rate:             24
# leds:
#     dotstar:chamber_lights
# layers:
#     breathing  10 1 top (.5,.5,1)

# [gcode_macro Lights_Breathe]
# gcode:
#   SET_LED_EFFECT EFFECT=panel_idle
