# Neopixel and Dotstar Commands

# The following command is available when a neopixel config section or dotstar config section is enabled:
#
# SET_LED LED=<config_name> RED=<value> GREEN=<value> BLUE=<value> WHITE=<value> [INDEX=<index>] [TRANSMIT=0] [SYNC=1]:  
# 
# This sets the LED output. Each color <value> must be between 0.0 and 1.0.   
# 
# The WHITE option is only valid on RGBW LEDs.   
# 
# If multiple LED chips are daisy-chained then one may specify INDEX to alter the color of just the given chip (1 for the  
# first chip, 2 for the second, etc.).   
# 
# If INDEX is not provided then all LEDs in the daisy-chain will be set to the provided color.   
# 
# If TRANSMIT=0 is specified then the color change will only be made on the next SET_LED command that does not specify  
# TRANSMIT=0; this may be useful in combination with the INDEX parameter to batch multiple updates in a daisy-chain.  
#  
# By default, the SET_LED command will sync it's changes with other ongoing gcode commands. This can lead to undesirable behavior 
# if LEDs are being set while the printer is not printing as it will reset the idle timeout.  
#  
# If careful timing is not needed, the optional SYNC=0 parameter can be specified to apply the changes instantly and not reset the idle timeout.
  
# neopixel / dotstar  STATUS Queries
#
# The following information is available for each [neopixel led_name] and [dotstar led_name] defined in printer.cfg:  
# color_data: An array of objects, with each object containing the RGBW values for a led in the chain.   
# Note that not all configurations will contain a white value.   
# Each value is represented as a float from 0 to 1.   
# For example, the blue value of the second neopixel in a chain could be accessed at printer["neopixel <config_name>"].color_data[1].B.

[dotstar chamber_lights]

data_pin: pico:gpio11
clock_pin: pico:gpio10

chain_count: 231 
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

[gcode_macro Lights_Normal]
gcode:
  SET_LED LED=chamber_lights RED=0.5 GREEN=0.5 BLUE=0.5

[gcode_macro Lights_Full]
gcode:
  SET_LED LED=chamber_lights RED=1 GREEN=1 BLUE=1

[gcode_macro Lights_Off]
gcode:
  SET_LED LED=chamber_lights RED=0 GREEN=0 BLUE=0

[gcode_macro Lights_Red]
gcode:
  SET_LED LED=chamber_lights RED=0.5 GREEN=0 BLUE=0

[gcode_macro Lights_Green]
gcode:
  SET_LED LED=chamber_lights RED=0 GREEN=0.5 BLUE=0

[gcode_macro Lights_Blue]
gcode:
  SET_LED LED=chamber_lights RED=0 GREEN=0 BLUE=0.5

[gcode_macro Lights_Orange]
gcode:
  SET_LED LED=chamber_lights RED=0.9 GREEN=0.3 BLUE=0

[gcode_macro Lights_Test]
gcode:
  SET_LED LED=chamber_lights RED=0.5 GREEN=0.5 BLUE=1

######################################################
[led_effect]
######################################################
# https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md 

[led_effect panel_idle]
autostart:              false
frame_rate:             10
leds:
	dotstar:chamber_lights
layers:
#	name		Rate	Cutoff	Blend	Palette
	breathing   2       0       top     (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

#[gcode_macro Lights_Breathe]
#gcode:
#  SET_LED_EFFECT EFFECT=panel_idle

[led_effect light_red]
leds:                               
    dotstar:chamber_lights
layers:            
    static         1 1  top (1,0,0)
frame_rate:                            10
autostart:                             false

[led_effect light_green]
leds:                               
    dotstar:chamber_lights
layers:            
    static         1 1  top (0,1,0)
frame_rate:                            10
autostart:                             false

[led_effect light_blue]
leds:                               
    dotstar:chamber_lights
layers:            
    static         1 1  top (0,0,1)
frame_rate:                            10
autostart:            false

[led_effect rgb]
leds:
    dotstar:chamber_lights
layers: 
    gradient       1 1  top  (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)
autostart:                             false
frame_rate:                            24

[led_effect critical_error]
leds:
    dotstar:chamber_lights
layers: 
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)  
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true

[led_effect critical_error2]
autostart:                             false
frame_rate:                            24
run_on_error:                          false
leds:
    dotstar:chamber_lights (169-228)
layers: 
#   Name				Rate	Cutoff	Blend		Palette
	strobe				1		1.5		add			(1.0,  1.0, 1.0)
	breathing			2		0		difference	(0.95, 0.0, 0.0)  
	static				1		0		top			(1.0,  0.0, 0.0)

[led_effect heating_bed]
leds:                               
    dotstar:chamber_lights
autostart:                          false
frame_rate:                         24
heater:                             heater_bed
layers:
    heater 20 0 top    (0.019607843,0,1),(0.015686275,0,1),(0.011764706,0,1),(0.007843137,0,1),(0.003921569,0,1),(0,0,1),(0,0.007843137,1),(0,0.070588235,1),(0,0.133333333,1),(0,0.196078431,1),(0,0.266666667,1),(0,0.329411765,1),(0,0.392156863,1),(0,0.454901961,1),(0,0.517647059,1),(0,0.580392157,1),(0,0.643137255,1),(0,0.705882353,1),(0,0.768627451,1),(0,0.831372549,1),(0,0.894117647,1),(0,1,0.956862745),(0,1,0.815686275),(0,1,0.658823529),(0,1,0.51372549),(0,1,0.360784314),(0,1,0.211764706),(0,1,0.062745098),(0.090196078,1,0),(0.243137255,1,0),(0.396078431,1,0),(0.541176471,1,0),(0.690196078,1,0),(0.843137255,1,0),(0.992156863,1,0),(1,0.980392157,0),(1,0.941176471,0),(1,0.901960784,0),(1,0.862745098,0),(1,0.823529412,0),(1,0.784313725,0),(1,0.745098039,0),(1,0.705882353,0),(1,0.666666667,0),(1,0.62745098,0),(1,0.588235294,0),(1,0.549019608,0),(1,0.509803922,0),(1,0.470588235,0),(1,0.431372549,0),(1,0.392156863,0),(1,0.352941176,0),(1,0.31372549,0),(1,0.274509804,0),(1,0.235294118,0),(1,0.196078431,0),(1,0.156862745,0),(1,0.117647059,0),(1,0.078431373,0),(1,0.039215686,0),(1,0,0)

[led_effect heating_extruder]
leds:                               
    dotstar:chamber_lights
autostart:                          false
frame_rate:                         24
heater:                             extruder
layers:
    heater 20 0 top    (0.019607843,0,1),(0.015686275,0,1),(0.011764706,0,1),(0.007843137,0,1),(0.003921569,0,1),(0,0,1),(0,0.007843137,1),(0,0.070588235,1),(0,0.133333333,1),(0,0.196078431,1),(0,0.266666667,1),(0,0.329411765,1),(0,0.392156863,1),(0,0.454901961,1),(0,0.517647059,1),(0,0.580392157,1),(0,0.643137255,1),(0,0.705882353,1),(0,0.768627451,1),(0,0.831372549,1),(0,0.894117647,1),(0,1,0.956862745),(0,1,0.815686275),(0,1,0.658823529),(0,1,0.51372549),(0,1,0.360784314),(0,1,0.211764706),(0,1,0.062745098),(0.090196078,1,0),(0.243137255,1,0),(0.396078431,1,0),(0.541176471,1,0),(0.690196078,1,0),(0.843137255,1,0),(0.992156863,1,0),(1,0.980392157,0),(1,0.941176471,0),(1,0.901960784,0),(1,0.862745098,0),(1,0.823529412,0),(1,0.784313725,0),(1,0.745098039,0),(1,0.705882353,0),(1,0.666666667,0),(1,0.62745098,0),(1,0.588235294,0),(1,0.549019608,0),(1,0.509803922,0),(1,0.470588235,0),(1,0.431372549,0),(1,0.392156863,0),(1,0.352941176,0),(1,0.31372549,0),(1,0.274509804,0),(1,0.235294118,0),(1,0.196078431,0),(1,0.156862745,0),(1,0.117647059,0),(1,0.078431373,0),(1,0.039215686,0),(1,0,0)

[led_effect kitt]
leds:
    dotstar:chamber_lights
layers: 
    comet       0.5 1.0  top  (1.0, 0.0, 0.0),(0.5, 0.0, 0.0),(0.3, 0.0, 0.0),(0.1, 0.0, 0.0)
autostart:                             false
frame_rate:                            24


[gcode_macro set_led_mode]
description: helper script to call stop led effects and instantiate the passed effect with param passing
gcode:
	stop_led_effects
	set_led_effect {rawparams}
	