#####################################################################
# 	Response - Enable the "M118" and "RESPOND" extended commands.
#####################################################################

## Note M118 is trapped and wrapped to provide more expressive functions
## via action_notification vs. native M118 ops.  See gcode_macros.cfg

[respond]
default_type: command
#default_type: echo
#   Sets the default prefix of the "M118" and "RESPOND" output to one
#   of the following:
#	   echo: "echo: " (This is the default)
#	   command: "// "
#	   error: "!! "
#default_prefix: echo:
#   Directly sets the default prefix. If present, this value will
#   override the "default_type".

#Send message (respond) to host¶
#The following commands are availabe when the respond config section is enabled.

#M118 <message>: echo the message prepended with the configured default prefix (or echo: if no prefix is configured).
#RESPOND MSG="": echo the message prepended with the configured default prefix (or echo: if no prefix is configured).
#RESPOND TYPE=echo MSG="": echo the message prepended with echo:.
#RESPOND TYPE=command MSG="": echo the message prepended with //. Octopint can be configured to respond to these messages (e.g. RESPOND TYPE=command MSG=action:pause).
#RESPOND TYPE=error MSG="": echo the message prepended with !!.
#RESPOND PREFIX= MSG="": echo the message prepended with <prefix>. (The PREFIX parameter will take priority over the TYPE parameter)


