######################################################################
# Filament Change - M600 Support
##########################################a############################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

# Eventual Parameters
# [B<beeps>]
# Number of beeps to alert user of filament change (default FILAMENT_CHANGE_ALERT_BEEPS)

# [E<pos>]
# Retract before moving to change position (negative, default PAUSE_PARK_RETRACT_LENGTH)

# [L<pos>]
# Load length, longer for bowden (negative)

# [R<temp>]
# Resume temperature. (AUTOTEMP: the min auto-temperature.)

# [T<index>]
# Target extruder

# [U<pos>]
# Amount of retraction for unload (negative)

# [X<pos>]
# X position for filament change

# [Y<pos>]
# Y position for filament change

# [Z<pos>]
# Z relative lift for filament change position

[gcode_macro M600]
description: Filament Change: Pause, Move, Retract.  User to Resume when done.  M600 [B<beeps>] [E<pos>] [L<pos>] [R<temp>] [T<index>] [U<pos>] [X<pos>] [Y<pos>] [Z<pos>]
gcode:
    {% set X = params.X|default(175)|float %}
    {% set Y = params.Y|default(20)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    M117 Filament Eject
    relative
    G1 E-.8 F2700
    G1 Z{Z}
    absolute
    G1 X{X} Y{Y} F3000
    relative
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state
