#####################################################################
# 	Linear Advance Stuffs - Adds M900 Support
#	used by Slicer G-Code and/or Plugins
#####################################################################

[gcode_macro M900]
description: Set Pressure Advance - Param K=K-Factor|float, other params are ignored

variable_verbose:					False	# Enable verbose output

gcode:
	{% if 'K' in params %}
		{% if verbose %} { action_respond_info('PA:' + params.K|float|string + ' ST:' + printer.extruder.smooth_time|float|string ) } {% endif %}
		SET_PRESSURE_ADVANCE ADVANCE={params.K|float}	# SMOOTH_TIME=<pressure_advance_smooth_time>
	{% else %}
		  {% if verbose %} { action_respond_info("M900: No PA K-factor passed...") } {% endif %}
	{% endif %}


#--------------------------------------------------------------------
[gcode_macro _SetDynamicPA]
description: Used to set klipper's PA based on specific mesh types

variable_mesh_name =	["Unknown",	"Perimeter",	"External perimeter",	"Overhang perimeter",	"Internal infill",	"Solid infill",	"Top solid infill",	"Ironing",	"Bridge infill",	"Gap fill",	"Skirt/Brim",	"Support material",	"Support material interface",	"Wipe tower",	"Custom",	"Mixed"	]
variable_mesh_kval =	[0.0,		0.035,			0.0,					0.0,					0.085,				0.085,			0.085,				0.085,		0.085,				0.085,		0.085,			0.085,				0.085,							0.085,			0.085,		0.085	]
variable_mesh_smtm =	[0.040,		0.040,			0.040,					0.040,					0.040,				0.040,			0.040,				0.040,		0.040,				0.040,		0.040,			0.040,				0.040,							0.040,			0.040,		0.040	]

variable_pa_unset: 1

gcode:

	SET_GCODE_VARIABLE MACRO=_SetDynamicPA VARIABLE=pa_unset VALUE=1
	
	{% for mesh_idx in range(printer["gcode_macro _SetDynamicPA"].mesh_name|length) %}
		{% if params.MESH|string|lower == printer["gcode_macro _SetDynamicPA"].mesh_name[mesh_idx|int]|string|lower %}
			SET_PRESSURE_ADVANCE ADVANCE={printer["gcode_macro _SetDynamicPA"].mesh_kval[mesh_idx|int]|float} SMOOTH_TIME={printer["gcode_macro _SetDynamicPA"].mesh_smtm[mesh_idx|int]|float}
			SET_GCODE_VARIABLE MACRO=_SetDynamicPA VARIABLE=pa_unset VALUE=0
		{% endif %}
	{% endfor %}
	
	{% if printer["gcode_macro _SetDynamicPA"].pa_unset %}
		M118 >>> _SetDynamicPA - unknown mesh type: {params.MESH|string|lower} <<<
	{% endif %}


#--------------------------------------------------------------------