###############################################################

[mcu pico_oled]
serial: /dev/serial/by-id/usb-Klipper_rp2040_Pico_Display-if00
restart_method: command

[display pico_oled]
#[display]

# mcu defined in _mcus.cfg...  <-- LOOK
lcd_type: sh1106
i2c_mcu: pico_oled
i2c_bus: i2c0a
# Set the direction of the encoder wheel
#   Standard: Right (clockwise) scrolls down or increases values. Left (counter-clockwise scrolls up or decreases values.
## encoder_pins: ^pico_oled:gpio4, ^pico_oled:gpio5
## click_pin: ^!pico_oled:gpio3
## kill_pin: ^!pico_oled:gpio15
#   Reversed: Right (clockwise) scrolls up or decreases values. Left (counter-clockwise) scrolls down or increases values.
#encoder_pins: ^pico_oled:PA4, ^pico_oled:PA3
x_offset: 2
#   Use X offset to shift the pico_oled towards the right. Value can be 0 to 3
#vcomh: 0
#   Set the Vcomh value on SSD1306/SH1106 displays. This value is
#   associated with a "smearing" effect on some OLED displays. The
#   value may range from 0 to 63. Default is 0.
#   Adjust this value if you get some vertical stripes on your pico_oled. (31 seems to be a good value)
# invert: False

[neopixel displayStatus]
pin: pico_oled:gpio2
chain_count: 1
color_order: GRB
initial_RED: 0.2
initial_GREEN: 0.05
initial_BLUE: 0

###############################################################

